.cache
.cpcache
.lsp
.portal
.nrepl-port
target
.lein-failures
.lein-repl-history
.clj-kondo/rewrite-clj
.clj-kondo/funcool
cljs-test-runner-out
scratch.clj
README.html
.dart_tool
.clojuredart
pubspec.lock
lib/cljd-out
test/cljd-out
node_modules
.squint-out
js
