{:deps {io.github.borkdude/quickdoc
        #_{:local/root "/Users/borkdude/dev/quickdoc"}
        {:git/tag "v0.2.6" :git/sha "ce8678000afa5f835639dd7267dc191fd90495a2"}}
 :paths ["src" ".build"]

 :tasks
 {:requires ([clojure.edn :as edn]
             [clojure.string :as str]
             [babashka.cli :as cli]
             [utils])

  :init (def cmd-line-opts
          (cli/parse-opts *command-line-args*
                          {:coerce {:toc parse-boolean
                                    :skip-bump parse-boolean}}))

  test {:doc "Run tests"
        :task (apply clojure "-M:test" *command-line-args*)}

  cljs-test {:doc "Run CLJS tests"
             :task (apply clojure "-M:test:cljs-test" *command-line-args*)}

  squint-test {:doc "Run squint tests"
               :task (do (shell "npm" "install" "--no-save" "--prefix" "." "squint-cljs@latest")
                         (shell "node_modules/.bin/squint" "compile")
                         (shell "node" ".squint-out/babashka/run_tests.mjs"))}

  cljd-test {:doc "Run ClojureDart tests (requires Dart SDK: https://dart.dev/get-dart)"
             :task (do (shell "dart pub get")
                       (apply clojure "-M:cljd" "test"
                              "babashka.cli-test" "babashka.cli.completion-test"
                              *command-line-args*))}

  quickdoc {:doc "Invoke quickdoc"
            :requires ([quickdoc.api :as api])
            :task (api/quickdoc (merge {:git/branch "main"
                                        :github/repo "https://github.com/babashka/cli"
                                        :toc true
                                        :var-links true
                                        :var-pattern :wikilinks}
                                       cmd-line-opts))}

  bump-release {:doc "Bump release counter"
                :task (let [old-version (utils/format-version)]
                        (utils/bump-version)
                        (spit "README.md" (str/replace (slurp "README.md")
                                                       old-version
                                                       (utils/format-version)))
                        (shell "git add version.edn README.md")
                        (shell "git commit -m" (str "v" (utils/format-version)))
                        (shell "git tag" (str "v" (utils/format-version)))
                        (shell "git push --tags"))}

  publish {:doc "Publish to clojars"
           :task (clojure "-T:build deploy")}}}
