{:pods {clj-kondo/clj-kondo {:version "2022.05.31"}}
 :deps {io.github.borkdude/quickdoc
        #_{:local/root "/Users/borkdude/dev/quickdoc"}
        {:git/sha "ca5893c0d81f26443dd178a747d0851e75d39eca"}}
 :paths ["src" ".build"]

 :tasks
 {:requires ([clojure.edn :as edn]
             [clojure.string :as str]
             [babashka.cli :as cli]
             [utils])

  :init (def cmd-line-opts
          (cli/parse-opts *command-line-args*
                          {:coerce {:toc parse-boolean
                                    :skip-bump parse-boolean}}))

  test {:doc "Run tests"
        :task (apply clojure "-M:test" *command-line-args*)}

  cljs-test {:doc "Run CLJS tests"
             :task (apply clojure "-M:cljs-test" *command-line-args*)}

  quickdoc {:doc "Invoke quickdoc"
            :requires ([quickdoc.api :as api])
            :task (api/quickdoc (merge {:git/branch "main"
                                        :github/repo "https://github.com/babashka/cli"
                                        :toc true
                                        :var-links true}
                                       cmd-line-opts))}

  bump-release {:doc "Bump release counter"
                :task (let [old-version (utils/format-version)]
                        (utils/bump-version)
                        (spit "README.md" (str/replace (slurp "README.md")
                                                       old-version
                                                       (utils/format-version)))
                        (shell "git add version.edn README.md")
                        (shell "git commit -m" (str "v" (utils/format-version)))
                        (shell "git tag" (str "v" (utils/format-version)))
                        (shell "git push --tags"))}

  publish {:doc "Publish to clojars"
           :task (clojure "-T:build deploy")}}}
