name: Tests

on: [push, pull_request]

jobs:
  test-jvm:
    strategy:
      matrix:
        java-version: ["11", "21", "25"]
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: "Checkout code"
      uses: "actions/checkout@v4"

    - name: Prepare java
      uses: actions/setup-java@v4
      with:
        distribution: "adopt"
        java-version: ${{ matrix.java-version }}

    - name: "Restore Cache"
      uses: "actions/cache@v4"
      with:
        path: "~/.m2/repository"
        key: "${{ runner.os }}-deps-${{ hashFiles('deps.edn') }}"
        restore-keys: "${{ runner.os }}-deps-"

    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@13.2
      with:
        bb: latest

    - name: Run tests
      run: |
        bb clojure -M:clj-1.10:test -i windows
        bb clojure -M:clj-1.11:test -i windows
  test-cljs:
    runs-on: ubuntu-latest

    steps:
    - name: "Checkout code"
      uses: "actions/checkout@v4"

    - name: Prepare java
      uses: actions/setup-java@v4
      with:
        distribution: "adopt"
        java-version: 11

    - name: "Restore Cache"
      uses: "actions/cache@v4"
      with:
        path: "~/.m2/repository"
        key: "${{ runner.os }}-deps-${{ hashFiles('deps.edn') }}"
        restore-keys: "${{ runner.os }}-deps-"
    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@13.2
      with:
        bb: latest

    - name: Run tests
      run: |
        bb cljs-test
